<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-hader">
      <div class="rooms">
      </div>
    </div>
  <%= render "side_bar" %>
  </div>
  <div class="chat">
    <div class="chat-haeder">
      <div class="messages">
        <div class="form">
        </div>
    </div>
  <%= render "main_chat" %>
  </div>
</div>